<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKK1KiCVV_MG1N3xDjEE3vWpV5a--ZG2U</string>
	<key>GCM_SENDER_ID</key>
	<string>237230438068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.tibbs.tealeaves</string>
	<key>PROJECT_ID</key>
	<string>tealeaves-90703</string>
	<key>STORAGE_BUCKET</key>
	<string>tealeaves-90703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237230438068:ios:ba9252d862d7ee38fb89e1</string>
</dict>
</plist>